.services-section {
  padding: 100px 60px;
  background: white;
}

.services-title {
  font-size: 60px;
  font-weight: 400;
  margin-bottom: 40px;
  width: fit-content;
}

.services-container {
  display: flex;
  justify-content: space-between;
  gap: 40px;
  flex-wrap: wrap;
}

.service-card {
  flex: 1;
  min-width: 250px;
  border-top: 1px solid #aaa;
  padding-top: 30px;
}

.service-card h3 {
  font-size: 30px;
  font-weight: 400;
  margin-bottom: 15px;
}

.service-card p {
  font-size: 20px;
  color: #5a5a5a;
  line-height: 1.6;
  font-weight: 300;
}

@media (max-width: 768px) {
  .services-container {
    flex-direction: column;
    align-items: center;
  }

  .service-card {
    width: 100%;
    max-width: 500px;
    text-align: center;
  }

    .services-title {
    text-align: center;
    width: 100%;
  }
}
